/* h2{
  font-size: 83px;
  color: rgb(209, 17, 17);
  font-weight: 800;
  word-spacing: 5px;
}
h1{
  color: white;
  font-weight: 800;
}
button{
  background-color: white;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  height: 8rem !important;
  width: 4rem !important;
} */